@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
        background-color: #f6f5f7;
        font-family:'Montserrat',sans-serif;
        text-align: center;   
    }
#contenedor {
    width: 900px; 
    height: 500px;
    position: absolute;
    background-color: red;
    inset: 0;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    }    
#formulario {
    background-color:white;
    float: left;
    width: 50%;
    height: 100%;
}   

#detalle{
    background-color:#FF416C;
    float: left;
    width: 50%;
    height: 100%;
    color: #eee;
}

.contenido{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    overflow: hidden;
}
#centrado{
    text-align: left;
}
input {
    background-color: #eee;
    padding: 10px 15px;
    border: none;
    font-family:'Montserrat',sans-serif;
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    /*al escribir que no salga el recuadro negro*/
}  
.boton{
    padding: 10px 23px;
    font-family:'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;  
    background-color: #FF416C;
    color: azure;
    letter-spacing: 2px;
    border: none;
    border-radius: 25px;
      
    /* ver porque el boton no da click*/
}   
.boton:active{
    background-color: transparent;
    border: solid 1px rgb(142, 23, 222);
    color: #FF416C;
    
}
#volumen {
    color: rgb(142, 23, 222);
    font-size: 25px;
    font-weight: 900;
    
}
.unidadmedida{
    color: rgb(142, 23, 222);
    font-size: 25px;
    font-weight: 900;    
}
/* Centra el input personalizado con el texto */
.custom-radio-checkbox {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
    font-family:'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 15px
}

/* Modificador para dar la imagen de radio */
.custom-radio-checkbox__show--radio {
    background-image: url(./radio-uncheck.png);
}
/* Oculta input original */
.custom-radio-checkbox > .custom-radio-checkbox__input {
    display: none;
}
/* Radio personalizado usando <span> */
.custom-radio-checkbox > .custom-radio-checkbox__show {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-size: contain;
}
/* Cambia el radio personalizado cuando es pulsado */
.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--radio {
    background-image: url(./radio-check.png);
}

#check{
    text-align: left;
    margin-left: 55px ;
    height: 55px;
}


#tablaresultado{
    visibility: hidden;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10%;
    text-align: center;
    
}
.container{
    width: 100%;
    max-width: 90%;
    margin: auto;
}
.table{
    width: 100%;
    border: 1px transparent   #FF416C;
    border-collapse:collapse ;

    margin:2px;
    padding: 1;
}
.table caption{
    font-size:larger;
    font-weight: bold;
    margin: 3px;  
}
.table tr{
    background-color: #FF416C;
    color: #eee;
    border: 0.05px solid #eee; 
    padding: 8px;

}
.table th {
padding: 8px;
text-align: center;
}
.table tbody tr:hover{
background-color: #ce214a;
}

#metodo{
font-family:'Montserrat',sans-serif;
text-align: center;
overflow: auto;
transform: translate(50%);
background-color: #FF416C;
color: #eee;
float: left;
width: 50%;
height: 100%;
margin: 45px 10px 45px 10px ;
}
